@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400';
/* colors */
/* tab setting */
/* breakpoints */
/* selectors relative to radio inputs */

.cron_plugin_info {}

.cron_plugin_info input {
	width: 50%;
	padding: 3px;
	margin: 5px 0;
}

.cron_plugin_info label {
	margin-right: 3%;
}

.remove_cron {
	margin: 0 18px;
	padding: 5px;
}


/* Repeater Field Css */
.feed_item .feed_item_label {
	float: left;
	width: 33%;
	margin-top: 6px;
}

.feed_item .feed_item_field {
	float: left;
	width: 67%;
	margin-top: 6px;
	margin-left: -63px;
}

.feed_item_field input[type=text],
select,
textarea {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

/* Accrodian */

.dayexception_item {
	width: 800px;
	height: 60px;
	margin: 0 auto;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 3px rgba(225, 225, 225, 1);
	overflow: hidden;
	transition: height 0.3s ease;
	margin-bottom: 20px;
}

.dayexception_item .accordion_tab {
	padding: 20px;
	cursor: pointer;
	user-select: none;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
}

.dayexception_item .accordion_tab .accordion_arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	width: 15px;
	height: 15px;
	transition: all 0.3s ease;
}

.dayexception_item .accordion_tab .accordion_arrow img {
	width: 100%;
	height: 100%;
}

.dayexception_item .accordion_tab.active .accordion_arrow {
	transform: translateY(-50%) rotate(180deg);
}

.dayexception_item.active {
	height: 365px;
}

.dayexception_item .accordion_content {
	padding: 20px;
}

.dayexception_item .accordion_content .accordion_item {
	margin-bottom: 20px;
}

.dayexception_item .accordion_content .accordion_item p.item_title {
	font-weight: 600;
	margin-bottom: 10px;
	font-size: 18px;
	color: #6adda2;
}

.dayexception_item .accordion_content .accordion_item p:last-child {
	color: #9a9b9f;
	font-size: 14px;
	line-height: 20px;
}

#post-body-content .meta-box-sortables .postbox #slack_settings_nav {
	padding-bottom: 24px;
	padding-top: 10px;
	padding-left: 0;
	margin-left: -12px;
}

.slack-support-nav-tab .settings_section {
	text-decoration: none;
	padding: 10px 15px 15px;
	font-size: 15px;
	font-weight: bold;
	background-color: #f8fafb;
	color: #516378;
}

.slack-support-nav-tab .nav-tab-active {
	border-color: #ccc;
	border-bottom: none;
	color: #2271b1;
	font-size: 15px;
	font-weight: bold;
	background: #ebe9f3;
	padding: 10px 15px 15px;
	border-top: 3px solid #2271b1;
}

.feed_item .feed_item_label {
	color: #000;
	font-size: 16px;
}

.select2-container--default .select2-selection--single {
	width: 105px;
}

/*  */
/* .switch {
	--line: #E8EBFB;
	--dot: #ffffff;
	--circle: #D3D4EC;
	--background: #2271b1;
	--duration: .3s;
	--text: #9EA0BE;
	--shadow: 0 1px 3px rgba(0, 9, 61, 0.08);
	cursor: pointer;
	position: relative;
} */

/* .feed_item_label .switch:before{
	left: 188px;
    top: -4px;
} */
/* .switch:before {
	content: "";
	width: 60px;
	height: 32px;
	border-radius: 16px;
	background: var(--circle);
	position: absolute;
	left: 0;
	top: 0;
	border: 2px solid #ddc4c4;
} */



/* .switch input {
	display: none;
} */

/* .switch input+div {
	position: relative;
} */

/* .switch input+div:before,
.switch input+div:after {
	--s: 1;
	content: '';
	position: absolute;
	height: 4px;
	top: 14px;
	width: 24px;
	background: rgb(116, 113, 113);
	transform: scaleX(var(--s));
	transition: transform var(--duration) ease;
}

.switch input+div:before {
	--s: 0;
	left: 4px;
	transform-origin: 0 50%;
	border-radius: 2px 0 0 2px;
}

.switch input+div:after {
	left: 32px;
	transform-origin: 100% 50%;
	border-radius: 0 2px 2px 0;
}

.switch input+div span {
	padding-left: 60px;
	line-height: 28px;
	color: var(--text);
}

.switch input+div span:before {
	--x: 0;
	--b: #fff;
	--s: 14px;
	content: "";
	position: absolute;
	left: 4px;
	top: 4px;
	width: 28px;
    height: 28px;
	border-radius: 50%;
	box-shadow: inset 0 0 0 var(--s) var(--b);
	transform: translateX(var(--x));
	transition: box-shadow var(--duration) ease, transform var(--duration) ease;
}

.switch input+div span:not(:empty) {
	padding-left: 68px;
}

.switch input:checked+div:before {
	--s: 1;
}

.switch input:checked+div:after {
	--s: 0;
}

.switch input:checked+div span:before {
	--x: 33px;
    --s: 15px;
    --b: var(--dot);
} */

/* Settings page css*/
.slack-related-plugin-list {
	display: grid;
}

.support-plugin-icon {
	position: absolute;
	top: 10px;
	left: 10px;
	margin: 0;
	height: 64px;
	width: 64px;
}

#slack_settings_head {
	height: 30px;
	width: 30px;
	margin: -10px 6px;
}

.support_settings_head_sec {
	height: auto;
	background: #fff;
	align-items: center;
	margin-bottom: 20px;
	padding: 20px 5px;
}

.support_settings_head_sec h2 {
	display: inline-block;
	font-size: 22px;
	color: #444;
	font-weight: 600;
	margin: 0px;
	line-height: 35px;
}

#slack_settings_box {
	border: 0;
}

#ourplugin_info_sidebar .postbox {
	border: 0;
}

.sidebar_plugin {
	padding-top: 6px;
}

.product_images {}

.product_logo {
	height: 80px;
}

.wppool_single_product {
	border-bottom: 1px solid #6a046c;
	padding-bottom: 40px;
	margin-bottom: 10px;
}

.product_desc a {
	text-decoration: none;
	padding: 0px 0px;
	font-size: 13px;
}

.product_desc p {
	font-size: 14px;
	margin-bottom: 5px;
}

.product_desc h3 {
	font-size: 20px;
	margin: 0px 0 0 0;
}
.product_desc .product_landing {
	cursor: pointer;
	display: inline-block;
	position: relative;
	margin: 0;
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
	border-radius: 4px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	width: auto;
	min-width: 80px;
	padding: 5px 14px;
	background-color: #888;
	color: #fff;
	font: 500 12px/16px "Roboto", Arial, sans-serif;
	letter-spacing: -.25px;
	text-transform: uppercase;
	border-color: #ddd;
	background-color: transparent;
	color: #888;
	margin-bottom: 10px;
	display: flow-root;
}

.product_landing .wppool-icon-arrow-right {}

.wppool_p_logo {
	float: left;
	margin-right: 10px;
}

.product_desc {
	display: contents;
}

.product_desc a p {}

.use_global_webhook_label,
#use_global_webhook {
	float: right;
}

.use_global_webhook_label {
	margin-top: -5px;
}

.webhook_tooltip {
	position: relative;
	padding: 2.5px 7px;
	margin: 5px;
	font-size: 10px;
	border-radius: 100%;
	border: 2px solid #beaeae;
	font-weight: bold;
	display: inline-block;
}

.webhook_tooltip .webhook_tooltip_text {
	visibility: hidden;
	width: 154px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	font-size: 11px;
	top: -45px;
	right: -70px;
	opacity: 0;
    transition: opacity 1s;
}
.webhook_tooltip .webhook_tooltip_text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 48%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.webhook_tooltip:hover .webhook_tooltip_text {
	visibility: visible;
	opacity: 1;
}
.feed_item{
	height: 60px;
}
/* .switch_after{
	float: right;
    margin-top: -2px;
    left: -4px;
} */
.view_feat{
	float: right;
	text-decoration: underline !important;
}
.add_feed .button{
	background: #ffffff;
}
.add_feed .dashicons {
	font-size: medium
}

/* Switch */
.switch {
	position: relative;
	display: inline;
	width: 60px;
	height: 34px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  .switch_after {
	position: absolute;
    cursor: pointer;
	top: -4px;
    left: 191px;
    right: -42px;
    bottom: -8px;
    background-color: #F3F1F1;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch_after:before {
	position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .switch_after {
	background-color: #2271b1;
  }
  
  input:focus + .switch_after {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .switch_after:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .switch_after {
	border-radius: 34px;
  }
  
  .switch_after:before {
	border-radius: 50%;
  }

/* Settings switch  */
.settings_switch {
	position: relative;
	display: inline-block;
	width: 60px;
    height: 34px;
  }
  
  .settings_switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .settings_switch_after {
	position: absolute;
	cursor: pointer;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background-color: #F3F1F1;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
.settings_switch_after:before {
	position: absolute;
	content: "";
	height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .settings_switch_after {
	background-color: #2271b1;
  }
  
  input:focus + .settings_switch_after {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .settings_switch_after:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .settings_switch .settings_switch_after {
	border-radius: 34px;
  }
  
  .settings_switch .settings_switch_after:before {
	border-radius: 50%;
  }