@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400';
/* colors */
/* tab setting */
/* breakpoints */
/* selectors relative to radio inputs */

.cron_plugin_info{
    
}
.cron_plugin_info input{
    width: 50%;
    padding: 3px;
    margin: 5px 0;
}
.cron_plugin_info label{
    margin-right: 3%;
}
.remove_cron{
    margin: 0 18px;
    padding: 5px;
}


/* Repeater Field Css */
.feed_item .feed_item_label {
    float: left;
    width: 25%;
    margin-top: 6px;
}
.feed_item .feed_item_field{
    float: left;
    width: 75%;
    margin-top: 6px;
}
.feed_item_field input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

/* Accrodian */

.dayexception_item{
    width: 800px;
    height: 60px;
    margin: 0 auto;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(225,225,225,1);
    overflow: hidden;
    transition: height 0.3s ease;
    margin-bottom: 20px;
}

.dayexception_item .accordion_tab{
  padding: 20px;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
}

.dayexception_item .accordion_tab .accordion_arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 15px;
  height: 15px;
  transition: all 0.3s ease;
}

.dayexception_item .accordion_tab .accordion_arrow img{
  width: 100%;
  height: 100%;
}

.dayexception_item .accordion_tab.active .accordion_arrow{
  transform: translateY(-50%) rotate(180deg);
}

.dayexception_item.active{
  height: 360px;
}

.dayexception_item .accordion_content{
  padding: 20px;
  border-top: 1px solid #e9e9e9;
}

.dayexception_item .accordion_content .accordion_item{
  margin-bottom: 20px;
}

.dayexception_item .accordion_content .accordion_item p.item_title{
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 18px;
  color: #6adda2;
}

.dayexception_item .accordion_content .accordion_item p:last-child{
  color: #9a9b9f;
  font-size: 14px;
  line-height: 20px;
}

#post-body-content .meta-box-sortables .postbox #slack_settings_nav{
  padding-bottom: 24px;
  padding-left: 1px;
}

.nav-tab-wrapper .settings_section{
	text-decoration: none;
	padding: 10px 15px 15px;
	color: #fff;
    font-size: 15px;
    font-weight: bold;
	background: #3b3bc0;
	margin: 1px;
}
.nav-tab-wrapper .nav-tab-active{
	border-color: #ccc;
	border-bottom: none;
	color: #3b3bc0;
	font-size: 15px;
    font-weight: bold;
	background: #ebe9f3;
	padding: 10px 15px 15px;
}
.feed_item .feed_item_label{
	color: #000;
	font-size: 16px;
}
.select2-container--default .select2-selection--single{
	width: 105px;
}
/*  */
.switch {
  --line: #E8EBFB;
  --dot: #275EFE;
  --circle: #D3D4EC;
  --background: #fff;
  --duration: .3s;
  --text: #9EA0BE;
  --shadow: 0 1px 3px rgba(0, 9, 61, 0.08);
  cursor: pointer;
  position: relative;
}
.switch:before {
  content: "";
  width: 60px;
  height: 32px;
  border-radius: 16px;
  background: var(--background);
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: var(--shadow);
}
.switch input {
  display: none;
}
.switch input + div {
  position: relative;
}
.switch input + div:before, .switch input + div:after {
  --s: 1;
  content: "";
  position: absolute;
  height: 4px;
  top: 14px;
  width: 24px;
  background: var(--line);
  transform: scaleX(var(--s));
  transition: transform var(--duration) ease;
}
.switch input + div:before {
  --s: 0;
  left: 4px;
  transform-origin: 0 50%;
  border-radius: 2px 0 0 2px;
}
.switch input + div:after {
  left: 32px;
  transform-origin: 100% 50%;
  border-radius: 0 2px 2px 0;
}
.switch input + div span {
  padding-left: 60px;
  line-height: 28px;
  color: var(--text);
}
.switch input + div span:before {
  --x: 0;
  --b: var(--circle);
  --s: 4px;
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 var(--s) var(--b);
  transform: translateX(var(--x));
  transition: box-shadow var(--duration) ease, transform var(--duration) ease;
}
.switch input + div span:not(:empty) {
  padding-left: 68px;
}
.switch input:checked + div:before {
  --s: 1;
}
.switch input:checked + div:after {
  --s: 0;
}
.switch input:checked + div span:before {
  --x: 28px;
  --s: 12px;
  --b: var(--dot);
}
/* Settings page css*/
.slack-related-plugin-list{
	display: grid;
}
.support-plugin-icon{
	position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
	height: 64px;
	width: 64px;
}